<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/d949a75390.js"></script>
</head>
<body>
    <div class="form glassmorphism-effect">
        <h1>Estos es gestión</h1>
        <a  class="salir" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i></a>         
    </div>
</body>
</html>