<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/d949a75390.js"></script>
</head>
<body>
    <div class="form glassmorphism-effect ">
        <div id="listaProductosGestion" class="listaProductos"></div>
        <a class="salir" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i></a>
        <a class="mostrarForm" href=""><i class="fas fa-plus"></i></a>        
    </div>
    <div class="form glassmorphism-effect addProduct">
        <form action="../productos/crear" method="POST">
            <span class="close">X</span>
            <div>
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" name="nombre" required>
            </div>
            <div>
              <label for="cantidad">Cantidad</label>
              <input type="text" id="cantidad" name="cantidad" required>
            </div>
            <div>
                <label for="precioMercadona">Precio Mercadona</label>
                <input type="number" id="precioMercadona" name="precioMercadona" step="0.01" min="0" max="1000" required>
            </div>
            <div>
                <label for="precioLidl">Precio Lidl</label>
                <input type="number" id="precioLidl" name="precioLidl" step="0.01" min="0" max="1000" required>
            </div>
            <div>
                <label for="precioEroski">Precio Eroski</label>
                <input type="number" id="precioEroski" name="precioEroski" step="0.01" min="0" max="1000" required>
            </div>
            <div>
                <label for="precioAldi">Precio Aldi</label>
                <input type="number" id="precioAldi" name="precioAldi" step="0.01" min="0" max="1000" required>
            </div>
            <div>
                <input type="hidden" id="idProducto" name="idProducto">
            </div>
            <button class="edit" style="display:none">Editar</button>
            <input type="submit" class="add" value="Añadir">
        </form>
      </div>   
    <script src="../js/gestion.js"></script>
</body>
</html>